<% provide(:title, "Competitions") %>

<h1>List of Competitions</h1>


<div class="competition"> 
    <div class="image left">
        <p>hello</p>
    </div>
    <div class="text-segment">
        <div class="comp-title">
            <h2>Competition 1</h2>
        </div>
        <hr>
        <hr>
        <div class = "details">
            <p class="write-up">
                Lorem ipsum dolor sit amet, nam mollis praesent cotidieque et, eu mea affert offendit forensibus, omnes veritus nec ad. An eos sumo dolor, vitae latine eum no. Laoreet salutatus efficiendi pri ea. Eu vix tale invenire, eos noster volutpat cu. Cu sea discere diceret.
                Tollit offendit insolens pri id. Per ponderum qualisque cu. Est ad paulo dicam propriae, ad stet hinc tamquam cum. At nec viris temporibus, mei ei decore essent iracundia.
            </p>
        <div>
    </div>
    <div class="dates">
        <div class="competition-dates">
        </div>
        <div class="registration-dates">
        <div>
    </div>

</div>

<div class="container">
    <h1></h1>

    <h2>Competition 1</h2> 
    <center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
    '/competitions' %></center>

    <br>

    <h2>Competition 2</h2> 
    <center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
    '/competitions' %></center>

    <br>

    <h2>Competition 3</h2>

    <center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
    '/competitions' %></center>
</div>