<% provide(:title, "Home") %>

<h2>
    Are you a student looking for competitions? Create a profile and sign-up for competitions with a click of a button.
</h2>

<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>

<h1>Upcoming Competitions</h1>

<h2>Competition 1</h2> <br>

<h2>Competition 2</h2> <br>

<h2>Competition 3</h2>

