@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* header */

  #logo {
    float: left;
	position: relative;
	max-height: 65px;
	display: block;
	
  }

/* footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
	
	position: absolute;
	left: 0px;
	right: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center-left,
.footer-distributed .footer-center-right,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 22%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	text-decoration: none;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}



.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;

	margin-right: 3px;
	margin-bottom: 5px;
}


/* Footer Center Left*/

.footer-distributed .footer-center-left{
	width: 20%;
}

.footer-distributed .footer-center-left i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center-left i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center-left p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

/* Footer Center Right*/

.footer-distributed .footer-center-right{
    width: 25%;
}

.footer-distributed .footer-center-right i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center-right p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 27%;
}

.footer-distributed .footer-right i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-right p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center-left,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

/* sidebar  for USERS*/

aside {
	section.user_info {
	  margin-top: 20px;
	}
	section {
	  padding: 10px 0;
	  margin-top: 20px;
	  &:first-child {
		border: 0;
		padding-top: 0;
	  }
	  span {
		display: block;
		margin-bottom: 3px;
		line-height: 1;
	  }
	  h1 {
		font-size: 1.4em;
		text-align: left;
		letter-spacing: -1px;
		margin-bottom: 3px;
		margin-top: 0px;
	  }
	}
  }
  
  .gravatar {
	float: left;
	margin-right: 10px;
  }
  
  .gravatar_edit {
	margin-top: 15px;
  }

/* Sign-up Form */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing(border-box);
  }
  
  input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
	  color: red;
	  margin: 0 0 30px 0;
	}
  }
  
.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* landing page */

*, ::before, ::after {
	box-sizing: border-box;
}

header.masthead .intro-text .intro-lead-in {
	padding-top: 60px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

header.masthead {
	display: block;
	text-align: center;
	color: #fff;
	background: image-url("running.jpg") no-repeat center center scroll;
	background-size: cover;
	width: 100%;
	height: 50vh;
}

.btn {
	margin-top: 25px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.btn-primary {
	background-color: #EA933E;
	border-color: #EA933E;
}

.btn-xl {
	font-size: 18px;
	padding: 20px 40px;
}

.text-uppercase {
	text-transform: uppercase!important;
}