<footer class="footer">
    <h1 id="bottom-logo">
        <%= link_to "OneSource", root_path, :id => "bottom-logo" %>
    </h1>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Competitions", competitions_path %></li>
        </ul>
    </nav>
</footer>